%h1= t(:title_bind_configuration)
%div.bind-config
  %h2= t(:title_master_named_conf)
  ~ text_area_tag 'master-named-conf', @master_named_conf

  %h2= t(:title_slave_named_conf)
  ~ text_area_tag 'slave-named-conf',  @slave_named_conf

  %div.actions
    = button_tag(t(:generic_reload),   :href => bind9_config_path,          :class => 'reload-bind-config-button          ui-icon-refresh',      :type => 'reset', 'data-method' => :get,  'data-remote' => true)
    = button_tag(t(:generic_export),   :href => bind9_schedule_export_path, :class => 'bind-export-button schedule-export ui-icon-download-alt',                   'data-method' => :post, 'data-remote' => true)
    = button_tag(t(:label_export_now), :href => bind9_export_path,          :class => 'bind-export-button export-now      ui-icon-download-alt',                   'data-method' => :post, 'data-remote' => true, 'data-params' => { 'now' => true }.to_param )
    = button_tag(t(:label_export_all), :href => bind9_export_path,          :class => 'bind-export-button export-all      ui-icon-download-alt',                   'data-method' => :post, 'data-remote' => true, 'data-params' => { 'now' => true, 'all' => true }.to_param )

%div.export-output.hidden
