%h1= t(:title_bind_configuration)
%div.bind-config
  = form_tag(bind9_export_path, :remote => true, :html => 'bind9-export-form') do |f|
    ~ text_area_tag 'named_conf', @current_config
    %div.actions
      = button_tag(t(:generic_reset), :type => 'reset', :class => 'cancel-new-record-button ui-icon-ban-circle')
      = button_tag(t(:generic_export), :url => bind9_export_path, :class => 'export-bind-button ui-icon-download-alt')
      = button_tag(t(:label_export_all), :url => bind9_export_path(:all => true), :remote => true, :class => 'export-all-bind-button ui-icon-download-alt')

%h1= t(:title_bind_test)
%div.bind-test
  %p= t(:desc_bind_test)
  %div.actions
    = submit_tag t(:generic_test), :class => 'ui-button'
