%h1
  = @macro.new_record? ? t(:title_macro_new) : t(:title_macro_update)

%div{ :style => "display:none" }
  #macro-name= t :help_macro_name
  #macro-active= t :help_macro_active

= form_for( @macro ) do |f|
  - if @macro && @macro.errors.any?
    %ul 
    - @macro.errors.full_messages.each do |msg|
      %li= msg

  %table
    %tr
      %td= t(:label_macro_name)
      %td= f.text_field :name
      %td= help_icon('macro-name')
    %tr
      %td= t(:label_macro_description)
      %td= f.text_area :description, :size => '35x2'
      %td  &nbsp;
    - unless @users.nil? || @users.empty?
      %tr
        %td= t(:label_macro_owner)
        %td= f.collection_select :user_id, @users, :id, :login, :include_blank => true
        %td  &nbsp;
    %tr
      %td= t(:label_macro_active)
      %td= f.check_box :active
      %td= help_icon('macro-active')
    %tr.actions
      %td{:colspan => 3}
        = link_to_cancel(@macro, :class => 'ui-button ui-icon-cancel')
        = submit_tag t(:generic_save)
