%div.new-record-template-form-container{ :class => record_template.errors.any? ? '' : 'hidden' }

  = form_for([@domain_template, record_template], :remote => true, :html => {:id => 'new-record-template-form'}) do |f|

    - if record_template && record_template.errors.any?
      %ul.errors 
      - record_template.errors.full_messages.each do |msg|
        %li= msg

    %table#new-record-template
      %tbody
        %tr
          %td= f.label :record_type, t(:label_domain_record_type)
          %td= f.select :record_type, RecordTemplate::record_types
        %tr
          %td= f.label :host, t(:label_domain_record_host)
          %td= f.text_field :name
        %tr
          %td= f.label :ttl, t(:label_domain_record_ttl)
          %td= f.text_field :ttl
        %tr
          %td= f.label :prio, t(:label_domain_record_priority)
          %td= f.text_field :prio
        %tr
          %td= f.label :content, t(:label_domain_record_data)
          %td= f.text_field :content
        %tr.actions
          %td{:colspan => 2}
            = button_tag(t(:generic_cancel), :class => 'cancel-new-record-template-button ui-icon-ban-circle')
            = f.button(t(:generic_create),   :class => 'create-record-template-button ui-icon-download-alt')
