%div#show-soa-record-template-container{:class => soa_record_template.errors.empty? ? '' : 'hidden' }
  %table#show-soa-record-template
    %tr
      %td= label_tag :primary_ns, t(:label_domain_primary_name_server)
      %td= soa_record_template.primary_ns
    %tr
      %td= label_tag :contact, t(:label_domain_contact)
      %td= soa_record_template.contact
    %tr
      %td= label_tag :refresh, t(:label_domain_refresh)
      %td= soa_record_template.refresh
    %tr
      %td= label_tag :retry, t(:label_domain_retry)
      %td= soa_record_template.retry
    %tr
      %td= label_tag :expire, t(:label_domain_expire)
      %td= soa_record_template.expire
    %tr
      %td= label_tag :minimum, t(:label_domain_minimum)
      %td= soa_record_template.minimum

%div#edit-soa-record-template-container.hidden
  = form_for(soa_record_template, :url => record_template_path(soa_record_template), :remote => true, :method => :put, :html => { :class => 'update-soa-record-template-form' }) do |f|

    - if soa_record_template && soa_record_template.errors.any?
      %ul 
      - soa_record_template.errors.full_messages.each do |msg|
        %li= msg

    %table#edit-soa-record-template
      %tr
        %td= f.label :primary_ns, t(:label_domain_primary_name_server)
        %td= f.text_field :primary_ns
        %td= help_icon('help-primary-ns')
      %tr
        %td= f.label :contact, t(:label_domain_contact)
        %td= f.text_field :contact
        %td= help_icon('help-contact')
      %tr
        %td= f.label :refresh, t(:label_domain_refresh)
        %td= f.text_field :refresh
        %td= help_icon('help-refresh')
      %tr
        %td= f.label :retry, t(:label_domain_retry)
        %td= f.text_field :retry
        %td= help_icon('help-retry')
      %tr
        %td= f.label :expire, t(:label_domain_expire)
        %td= f.text_field :expire
        %td= help_icon('help-expire')
      %tr
        %td= f.label :minimum, t(:label_domain_minimum)
        %td= f.text_field :minimum
        %td= help_icon('help-minimum')
      %tr.actions
        %td{:colspan => 3}
          = button_tag(t(:generic_cancel), :class => 'cancel-edit-soa-record-template-button ui-icon-ban-circle')
          = f.button(t(:generic_update),   :class => 'update-soa-record-template-button ui-icon-download-alt')
