%div{:style => "display: none;"}
  #zone-name= t :help_template_name
  #zone-ttl

= form_for( @zone_template ) do |f|
  - if @zone_template && @zone_template.errors.any?
    %ul 
    - @zone_template.errors.full_messages.each do |msg|
      %li= msg

  %table
    %tr
      %td= t :label_template_zone_name
      %td &nbsp;
      %td= f.text_field :name
    %tr
      %td= t :label_template_zone_ttl
      %td &nbsp;
      %td= f.text_field :ttl, :size => 6
    %tr.actions
      %td= link_to_cancel @zone_template, :class => 'ui-button cancel'
      %td= submit_tag t(:generic_save)
