<div style="display: none">
  <div id="role-help">
    <%= t :help_user_is_admin %>
  </div>
  <div id="domain-owner">
    <%= t :help_user_is_user %>
  </div>
  <div id="token-user-help">
    <%= t :help_user_token_info %>
  </div>
</div>
<%= form_for(@user) do |f| %>
  <% if @user && @user.errors.any? %>
    <ul></ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
    <% end %>
  <% end %>
  <table>
    <tr>
      <td>
        <%= t :label_user_name %>
      </td>
      <td>
        <%= f.text_field :name %>
      </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>
        <%= t :label_user_email %>
      </td>
      <td>
        <%= f.text_field :email %>
      </td>
      <td>&nbsp;</td>
    </tr>
    <% unless GloboDns::Application.config.omniauth %>
      <tr>
        <td>
          <%= t :label_user_password %>
        </td>
        <td>
          <%= f.password_field :password %>
        </td>
        <td>
          <% if @user.new_record? %>
            &nbsp;
          <% else %>
            <em>
              <%= t :text_user_password_edit_notice %>
            </em>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <%= t :label_user_password_again %>
        </td>
        <td>
          <%= f.password_field :password_confirmation %>
        </td>
        <td>&nbsp;</td>
      </tr>
    <% end %>
    <tr>
      <td>
        <%= t :label_user_role_sign %>
      </td>
      <td>
        <%= f.collection_select :role, User::ROLES.to_a, :last, :first %>
      </td>
    </tr>
    <tr class="actions">
      <td colspan="3">
        <%= link_to(t(:generic_cancel), users_path, :class => 'ui-button ui-icon-cancel') %>
        <%= submit_tag t(:generic_save) %>
      </td>
    </tr>
  </table>
<% end %>
