%div{:style => "display: none"}
  #role-help= t :help_user_is_admin
  #domain-owner= t :help_user_is_user
  #token-user-help= t :help_user_token_info

= form_for(@user) do |f|
  - if @user && @user.errors.any?
    %ul 
    - @user.errors.full_messages.each do |msg|
      %li= msg

  %table
    %tr
      %td= t :label_user_name
      %td= f.text_field :login
    %tr
      %td= t :label_user_email
      %td= f.text_field :email
    %tr
      %td.top= t :label_user_password
      %td
        = f.password_field :password
        - unless @user.new_record?
          %em= t :text_user_password_edit_notice
    %tr
      %td.top= t :label_user_password_again
      %td= f.password_field :password_confirmation
    %tr
      %td.top= t :label_user_role_sign
      %td
        = f.collection_select :role, User::ROLES.to_a, :last, :first
        = help_icon('role-help')
    %tr
      %td &nbsp;
      %td &nbsp;
    %tr
      %td
        = link_to t(:generic_cancel), users_path
        &nbsp;&nbsp;
        = submit_tag t(:generic_save)

