%div{:style => "display: none"}
  #role-help= t :help_user_is_admin
  #domain-owner= t :help_user_is_user
  #token-user-help= t :help_user_token_info

= form_for(@user) do |f|
  - if @user && @user.errors.any?
    %ul 
    - @user.errors.full_messages.each do |msg|
      %li= msg

  %table
    %tr
      %td= t :label_user_name
      %td= f.text_field :login
      %td  &nbsp;
    %tr
      %td= t :label_user_email
      %td= f.text_field :email
      %td  &nbsp;
    %tr
      %td= t :label_user_password
      %td= f.password_field :password
      %td
        - if @user.new_record?
          &nbsp;
        - else
          %em= t :text_user_password_edit_notice
    %tr
      %td= t :label_user_password_again
      %td= f.password_field :password_confirmation
      %td  &nbsp;
    %tr
      %td= t :label_user_role_sign
      %td= f.collection_select :role, User::ROLES.to_a, :last, :first
      %td= help_icon('role-help')
    %tr.actions
      %td{:colspan => 3}
        = link_to(t(:generic_cancel), users_path, :class => 'ui-button ui-icon-cancel')
        = submit_tag t(:generic_save)

