#div{ :style => 'display: none' }
  #new-user= t(:help_user_add)
  #password-help= t(:text_user_password_edit_notice)

%h1= t(:title_users)
= render :partial => 'list', :object => @users, :as => :users

= button_tag t(:label_add_user).titleize, :class => 'new-user-button ui-icon-plus'
= render :partial => 'new', :object => User.new, :as => :user
