<%= form_for @user, url: save_password_update_user_path, action: "update", method: "put" do |f| %>
<%= form_errors @user %>
<table>
    <tr>
        <td><%= f.label :password, "Password" %></td>
        <td><%= f.password_field :password, :autocomplete => "off"  %></td>
    <tr>
    <tr>
        <td><%= f.label :password_confirmation %></td>
        <td><%= f.password_field :password_confirmation %></td>
    <tr>

    <tr class="actions">
      <td><%= f.submit t(:generic_save) %></td>
      <td>&nbsp;</td>
    </tr>
</table>

<% end %>