<h2>Change your password</h2>

<%= form_for @user, url: update_password_user_path do |f| %>

<div class="field">
  <%= f.label :password, "Password" %><br />
  <%= f.password_field :password, :autocomplete => "off"  %>
</div>

<div class="field">
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %>
</div>

<div class="action_container">
  <%= f.submit "Save" %>
</div>
<% end %>