%div.new-record-form-container{ :class => record.errors.any? ? '' : 'hidden' }
  %div{ :style => 'display: none' }
    #help-generate=t :help_generate

  - if defined? GloboDns::Config::ENABLE_VIEW and GloboDns::Config::ENABLE_VIEW
    %i
      - unless @domain.view.nil?
        = t(:new_record_warning, name: @domain.name, view_name: @domain.view.name)

  = form_for([@domain, record], :remote => true, :html => {:id => 'new-record-form'}) do |f|

    - if record && record.errors.any?
      %ul.errors
      - record.errors.full_messages.each do |msg|
        %li= msg

    %table#new-record
      %tbody
        %tr
          %td= f.label :type, t(:label_domain_record_type)
          %td= f.select :type, Record::high_priority_types + (Record::record_types - ['SOA'] - Record::high_priority_types)
          %td= f.check_box :generate, {:id => 'generate_checkbox'}, true, false
          %td= help_icon('help-generate')
          %td= f.label :generate, t(:label_domain_record_generate)
        %tr{ style: "display: none;" }
          %td= f.label :tag, t(:label_domain_record_tag)
          %td= f.select :tag, Record::caa_tags
        %tr{ style: "display: none;" }
          %td= f.label :range, t(:label_domain_record_range)
          %td= f.text_field :range
        %tr
          %td= f.label :host, t(:label_domain_record_host)
          %td= f.text_field :name
        %tr
          %td= f.label :ttl, t(:label_domain_record_ttl)
          %td= f.text_field :ttl
        %tr
          %td= f.label :prio, t(:label_domain_record_priority)
          %td= f.text_field :prio
        %tr
          %td= f.label :weight, t(:label_domain_record_weight)
          %td= f.text_field :weight
        %tr
          %td= f.label :port, t(:label_domain_record_port)
          %td= f.text_field :port
        %tr
          %td= f.label :content, t(:label_domain_record_content)
          %td= f.text_field :content
        - if GloboDns::Config::DOMAINS_OWNERSHIP
          %tr
            %td= label :sub_component, "Sub Component"
            %td= select_tag :sub_component, options_for_select(@sub_components, @domain_ownership_info[:sub_component_id]), {:required => true}
        %tfoot
        %tr.actions
          %td{:colspan => 2}
            = button_tag(t(:generic_cancel), :class => 'cancel-new-record-button ui-icon-ban-circle')
            = f.button(t(:generic_create),   :class => 'create-record-button ui-icon-download-alt')

:javascript
  - if current_user.admin?
    let showAlert = false;
  - else
    let showAlert = true;
