- even_odd = cycle('even', 'odd')
%tr[ @record, :marker ]
%tr[ @record, :show ]{:class => even_odd}
  %td.name=    @record.shortname
  %td.ttl=     @record.ttl
  %td.type=    @record.type
  %td.prio=    @record.prio
  %td.content= @record.content
  %td.actions
    - unless @record.domain.slave?
      = link_to '', '#', :class => 'edit-record-button ui-icon-edit', :title => t(:generic_edit)
      = link_to '', record_path(@record), :remote => true, :method => :delete, :confirm => t(:confirm_domain_delte_record), :class => 'delete-record-button ui-icon-trash', :title => t(:generic_delete)

- unless @record.domain.slave?
  %tr[ @record, :edit ]{:style => 'display: none;', :class => "#{even_odd} edit-record"}
    = form_for(@record, :as => :record, :url => record_path(@record), :remote => true) do |f|
      %td.name=    f.text_field :shortname
      %td.ttl=     f.text_field :ttl
      %td.type=    @record.type
      %td.prio=    @record.supports_prio? ? f.text_field(:prio) : '&nbsp;'.html_safe
      %td.content= f.text_field :content
      %td.actions
        = link_to('', '#', :remote => true, :alt => t(:generic_save),   :class => 'save-record-button ui-icon-download-alt')
        = link_to('', '#', :remote => true, :alt => t(:generic_cancel), :class => 'cancel-edit-record-button ui-icon-ban-circle')

