#soa
  %table#soa-view.grid
    %tr
      %td= t :label_domain_primary_name_server
      %td= soa_record.primary_ns
    %tr
      %td= t :label_domain_contact
      %td= soa_record.contact
    %tr
      %td= t :label_domain_refresh
      %td= soa_record.refresh
    %tr
      %td= t :label_domain_retry
      %td= soa_record.retry
    %tr
      %td= t :label_domain_expire
      %td= soa_record.expire
    %tr
      %td= t :label_domain_minimum
      %td= soa_record.minimum

  - if current_user
    #soa-form{ :style => "display: none;" }
      /= form_for( @domain.soa_record, :url => update_soa_domain_record_path( @domain.soa_record, :domain_id => @domain.id ), :remote => true ) do |f|
      = form_for(@domain.soa_record, :url => record_path(@domain.soa_record), :remote => true, :method => :put) do |f|

        - if @domain && @domain.soa_record && @domain.soa_record.errors.any?
          %ul 
          - @domain.soa_record.errors.full_messages.each do |msg|
            %li= msg

        %table.grid
          %tr
            %td= t :label_domain_primary_name_server
            %td= f.text_field :primary_ns
            %td= help_icon('help-primary-ns')
          %tr
            %td= t :label_domain_contact
            %td= f.text_field :contact
            %td= help_icon('help-contact')
          %tr
            %td= t :label_domain_refresh
            %td= f.text_field :refresh
            %td= help_icon('help-refresh')
          %tr
            %td= t :label_domain_retry
            %td= f.text_field :retry
            %td= help_icon('help-retry')
          %tr
            %td= t :label_domain_expire
            %td= f.text_field :expire
            %td= help_icon('help-expire')
          %tr
            %td= t :label_domain_minimum
            %td= f.text_field :minimum
            %td= help_icon('help-minimum')
          %tr.actions
            %td{:colspan => 3}
              = link_to_function(t(:generic_cancel), "showSOAForm()", :class => 'ui-button ui-icon-cancel')
              = submit_tag t(:generic_update)
