%div{ :style => "display: none" }
  #new-zone= t :help_adds_new_domain
  #delete-zone= t :help_delete_domain
  #zone-edit=t :help_zone_edit
  #delete-zone=t :help_delete_zone
  #audits=t :help_audits
  #macro=t :help_macro

%h1= t(:title_domains_list)
= render :partial => 'list', :object => @domains, :as => :domains

= button_tag t(:label_add_domain).titleize, :class => 'new-domain-button ui-icon-plus'
= render :partial => 'new', :object => Domain.new, :as => :domain
