%div.hidden
  #new-zone= t :help_adds_new_domain
  #delete-zone= t :help_delete_domain
  #zone-edit=t :help_zone_edit
  #delete-zone=t :help_delete_zone
  #audits=t :help_audits
  #macro=t :help_macro

%h1
  = t(:title_domains_list)
  %div.domains-selector-buttons
    = check_box_tag('show-reverse-domains-checkbox', '1', checked = session[:show_reverse_domains])
    = label_tag('show-reverse-domains-checkbox', '', :id => 'show-reverse-domains-checkbox-label', :class => 'ui-icon-retweet', :title => t(:desc_show_reverse_domains), 'data-url' => domains_path, 'data-remote' => true)
  %div.clearer
= render :partial => 'list', :object => @domains, :as => :domains

- if current_user.admin? || current_user.operator?
  = button_tag t(:label_add_domain).titleize, :class => 'new-domain-button ui-icon-plus'
  = render :partial => 'new', :object => Domain.new, :as => :domain
