- @page_title = @domain.name

%div{ :style => "display: none;" }
  #help-domain-name=t :help_domain_fqdn
  #help-domain-type=t :help_domain_type
  #help-domain-master=t :help_domain_master
  #help-domain-ttl=t :help_ttl
  #help-domain-notes=t :help_notes
  #record-template-new=t :help_record_template_new
  #soa-record-edit=t :help_soa_record_edit
  #zone-edit=t :help_zone_edit
  #note-new=t :note_new
  #note-edit=t :note_edit
  #delete-zone=t :help_delete_zone
  #audits=t :help_audits
  #macro=t :help_macro
  #change-owner=t :help_change_owner
  #help-primary-ns=t :help_domain_primary_ns
  #help-contact=t :help_domain_contact
  #help-refresh=t :help_domain_refresh
  #help-retry=t :help_domain_retry
  #help-expire=t :help_domain_expire
  #help-minimum=t :help_domain_minimum
  #delete-reset=t :help_delete_reset
  #record-template-edit= t :label_domain_edit_record
  #record-template-delete= t :label_domain_delete_record

%h1
  = Domain.model_name.human.titleize
  = link_to('', '#', :class => 'edit-domain-button ui-icon-edit', :title => t(:generic_edit))
  = link_to('', domain_path(@domain), :class => 'delete-domain-button ui-icon-trash', :title => t(:generic_delete), :method => :delete, :confirm => t(:confirm_domain_delete, :domain => @domain.name))
= render :partial => 'form', :object => @domain, :as => :domain

#domain-soa
  %h1
    = t(:title_soa_record)
    = link_to('', '#', :class => 'edit-soa-record-button ui-icon-edit', :title => t(:generic_edit))
  = render :partial => @domain.soa_record

- unless @domain.slave?
  #domain-records
    %h1= t(:title_records)
    #records-search-bar
      = form_tag(domain_records_path(@domain), :remote => true, :method => :get, :id => 'records-search-form') do
        = text_field_tag :query, ''
        %span.search-icon
    %div.clearer
    = render :partial => 'records/list', :object => @records, :as => :records

    = button_tag t(:label_add_record), :class => 'new-record-button ui-icon-plus'
    = render :partial => 'records/new', :object => @domain.records.new, :as => :record
