- even_odd = cycle('odd', 'even')
%tr{:class => even_odd}
  %td.timestamp= audit.created_at.to_formatted_s(:short)
  %td.user= audit.user && audit.user.login
  %td.from= audit.remote_address
  %td.action= audit.action
  %td.auditable= "#{audit.audited_changes['name']}"
  %td.association= audit.associated_type ? ( (au = Audited::Adapters::ActiveRecord::Audit.where(auditable_type:"Domain",auditable_id:audit.associated_id).first).nil? ? "" : "#{au.audited_changes['name']}") : ''
  %td.changes{:title => audit.audited_changes.to_s}
    %span= audit.audited_changes

  / %th= audit.comment
