<h1><%= t :title_audits %></h1>
<%= render :partial => 'list', :object => @audits, :as => :audits%>

<h1> Filter: </h1>  
<i><b>Note:</b> the time log filter is set to 1 day by default</i>
<p>

<%= form_tag(audits_path, { :method => :get }) do %>
  <table>
    <tr>
      <td><b><%= "Time:" %></b></td>
      <td>
        <% params[:audit_days] = 1 if params[:audit_days].nil?%>
        <% params[:audit_hours] = 00 if params[:audit_hours].nil?%>
        <% params[:audit_mins] = 00 if params[:audit_mins].nil?%>
        days: 
        <%= number_field_tag(:audit_days, params[:audit_days], in: 0..999, step: 1) %>
        hours:
        <%= number_field_tag(:audit_hours, params[:audit_hours], in: 0..23, step: 1) %>
        minutes:
        <%= number_field_tag(:audit_mins, params[:audit_mins], in: 0..59, step: 1) %> 
        ago
      </td>
    </tr>
    <tr>
      <td><b><%= "User:" %></b></td>
      <td><%= text_field_tag :audit_user, params[:audit_user], :class => 'search-field' %> <i>(login or email)</i>
    </tr>
    <tr>
      <td><b><%= "Domain:" %></b></td>
      <td><%= text_field_tag :audit_domain, params[:audit_domain], :class => 'search-field' %></td>
    </tr>
    <tr>
      <td><b><%= "Record:" %></b></td>
      <td><%= text_field_tag :audit_record, params[:audit_record], :class => 'search-field' %></td>
    </tr>
    <tr>
      <td><b><%= "Record type:" %></b></td>
      <td><%= select_tag :audit_record_type, options_for_select(Record::record_types, params[:audit_record_type]), :include_blank => true %></td>
    </tr>
    <tr>
      <td><b><%= "Action:" %></b></td>
      <td>
        <%= radio_button_tag("audit_action", "all", params[:audit_action]=="all" || !params[:audit_action]) %> All 
        <%= radio_button_tag("audit_action", "create", params[:audit_action]=="create") %> Created  
        <%= radio_button_tag("audit_action", "destroy", params[:audit_action]=="destroy") %> Destroyed
        <%= radio_button_tag("audit_action", "update", params[:audit_action]=="update") %> Updated
      </td>
    </tr>
    <tr>
      <td><p></td>
    </tr>
    <tr>
      <td><%= button_tag "Filter", :class => 'ui-icon-search' %></td>
    </tr>
    <tr>
      <td><%= link_to "Clear filters", audits_path %></td>
    </tr>
  </table>
<% end %>