%div.show-view-container
  %table#show-view
    %tr
      %td= label_tag t(:label_view_name)
      %td= @view.name
    %tr
      %td= label_tag t(:label_view_destinations)
      %td= @view.destinations

  %h1= "Clients"
  %table#show-view
    %tr
      %td.clients-label= label_tag t(:label_view_clients)
      %td
        %table#show-clients
          - @view.acls.each do |acl|
            %tr
              %td= link_to acl.acl.name, acl
              %td= acl.denied? ? '(denied)' : ''
              - if current_user.admin?
                %td= link_to('', view_acl_path(acl), :class => 'delete-view-button ui-icon-trash', :title => t(:generic_delete), :method => :delete, :data => {:confirm => t(:confirm_acls_delete, :view_acl => acl.acl.name)})
        = render :partial => 'view_acls/new', :object => @view.view_acls.new, :as => :acl


- if current_user.admin? || current_user.operator?
  %div.edit-view-container{:class => @view.errors.empty? ? 'hidden' : '' }
    = form_for(@view, :as => 'view', :url => view_path(@view), :remote => true, :method => :put, :html => {:class => 'update-view-form'}) do |f|

      - if @view && @view.errors.any?
        %ul.errors
          - @view.errors.full_messages.each do |msg|
            %li= msg

      %table#edit-view
        %tbody
          %tr
            %td= f.label t(:label_view_name)
            %td= f.text_field :name
          %tr
            %td= f.label t(:label_view_destinations)
            %td= f.text_field :destinations
          %tr.actions
            %td{:colspan => 3}
              = button_tag(t(:generic_cancel), :class => 'cancel-update-view-button ui-icon-ban-circle')
              = f.button(t(:generic_save),   :class => 'update-view-button ui-icon-download-alt')
