- even_odd = cycle('even', 'odd')
%tr[ view, :marker ]{:class => 'marker hidden'}
  %td
    = form_for(view, :remote => true, :as => 'view', :url => view_path(view), :method => 'put', :html => {:id => "update-view-form-#{view.id}", :class => 'update-view-form'}) do |g|
      %span

%tr[ view, :show ]{ :class => "#{even_odd} show-view" }
  %td.name
    = link_to view.name, view_path(view.id)
  %td.clients= view.clients
  %td.destinations= view.destinations
