!!!
%html
  %head
    %title= page_title
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag
  %body
    .container
      .header
        %h1
          /t :layout_main_title
          %img{'src' => image_path('logo_small.png')}
      .nav
        - if current_user
          #search-bar
            = form_tag(domains_path, { :method => :get }) do
              = text_field_tag :query, ''
              %span.search-icon
        %ul
          %li= link_to((t :layout_menu_home), root_url)
          - if current_user
            %li= link_to((t :layout_menu_domains), domains_path)
            %li= link_to((t :layout_menu_templates), domain_templates_path)
            %li= link_to((t :layout_menu_logs), audits_path)
            - if current_user.admin?
              %li= link_to((t :layout_menu_users), users_path)
            %li= link_to((t :layout_menu_bind), bind9_path)
            %li= link_to((t :layout_menu_logout), destroy_user_session_path, :method => 'DELETE')
      %hr
      .body
        = show_flash
        = yield
      %hr
      .footer
        &copy; 2011 - Kenneth Kalmer ; 2012 - Globo.com S/A
        %br
        Released under the MIT License.

